.forms__expenses {
  align-self: center;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20% 20% 15% 15% 10% 20%;
  justify-self: center;
  padding: 20px;
  width: 95%;
}

.forms__expenses label {
  margin: 5px;
}

.forms__expenses label span {
  font-size: 18px;
}

.btn {
  align-self: center;
  grid-column: 6;
  justify-self: center;
  padding: 10px 30px;
}
