.expense {
  background-color: white;
  border-bottom: 1px solid black;
  color: black;
  display: grid;
  grid-template-columns: 17% 10% 14% 8% 10% 10% 11% 11% 9%;
  height: 50px;
  justify-content: center;
}

.expense > span {
  align-items: center;
  border-left: solid 1px black;
  display: flex;
  justify-content: center;
}
