.table {
  background-color: white;
  text-align: center;
  width: 100vw;
}

.thead {
  background-color: black;
  color: white;
}

.thead tr > th {
  border: solid 1px white;
}

.tbody tr > td {
  align-self: center;
  border: solid 1px black;
}
